.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/closeiconbtn.png");
  background-position: center;
  border: none;
  background-color: transparent;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  line-height: 1;
}

.modal__form {
  position: relative;
}

.modal__input {
  margin: 8px 0 0;
  display: block;
  padding: 16px 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  margin: 0 0 32px;
  width: 100%;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 0;
  background: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(252, 245, 229, 1);
  background: rgba(33, 33, 33, 1);
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }
  .modal__label {
    margin: 0 0 24px;
  }

  .modal__close-btn {
    top: 0;
    right: 12px;
    padding: 0;
  }
}
