@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header.css);
@import url(../blocks/page.css);
@import url(../blocks/profile.css);
@import url(../blocks/content.css);
@import url(../blocks/card.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);

/* Desktop */
/* @media screen and (max-width: 1440px) {
  .cards,
  .content,
  .page,
  .profile {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    gap: 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(413px));
    gap: 20px 0;
  }
} */
/* @media screen and (max-width: 485px) {
  .profile {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 274px;
    top: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    gap: 20px;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(413px));
    gap: 20px 0;
  }
} */
