@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/page.css);

.profile {
  max-width: 1280px;
  margin: 0 auto;
  height: 210px;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  color: rgba(33, 33, 33, 1);
  background-color: rgba();
}

.profile__pencil {
  background: rgba(33, 33, 33, 1);
}

.profile__add-btn {
  margin-left: auto;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
}

.profile__description {
  margin: 0 0 auto;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8%;
}
